<div class="container">
  <div class="card">
    <h2>Login</h2>
    <form>
      <input type="text" id="username" name="username" placeholder="Username" required />
      <input type="password" id="password" name="password" placeholder="Password" required />
      <span class="login button col" style="position: relative">
        <button class="btn btn-primary" style="background-color: #3498db; width: 49%" type="submit">Login</button>&nbsp;
        <button class="btn btn-primary" style="background-color: #3498db; width: 48%" type="submit">Register</button>
      </span>
      <a (click)="onGuestLogin()">
        <button class="btn btn-outline-success mt-2" style="width:100%" type="button">Guest Login</button>
      </a>
    </form>
  </div>
</div>
