<div >
    <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 9rem;height: 32rem;">
        <a routerLink="/home" class="d-flex mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4 p-2">Dashboard</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="p-2">            
            <button class="btn btn-outline-secondary" [routerLink]="'form1'">Form 1 TD</button>
            <button class="btn btn-outline-secondary mt-3" [routerLink]="'form2'">Form 2 RF</button>
          </li>     
          
        </ul>
        <hr>
      </div>
</div>